/* ----------
// Settings
// ---------- */

:root {
  --font-size-0: .8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --font-size-4: 2rem;
  --space-1: 1em;
  --space-2: 2em;
  --space-3: 3em;
  --space-4: 4em;
  --space-5: 5em;
  --space-6: 6em;
}

@media only screen and (min-width: 600px) {
  :root {
    --space-1: 2em;
    --space-2: 4em;
    --space-3: 6em;
    --space-4: 8em;
    --space-5: 10em;
    --space-6: 12em;
  }
}

/* ----------
// Normalize
// ---------- */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ----------
// General
// ----------*/

*, ::after, ::before {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-size: 105%;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background: #dedede;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: var(--space-1);
  margin-bottom: 0;
  font-family: arial;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* ----------
//  Elements
// ---------- */

h1 {
  font-size: var(--font-size-4);
}

h2 {
  font-size: var(--font-size-3);
}

h3 {
  font-size: var(--font-size-2);
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  background-color: transparent;
}

small {
  font-size: 80%;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre, textarea {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* ----------
// Objects
// ---------- */
.o-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.o-section {
  margin-top: var(--space-6);
}

/* -----------
// Components
// ---------- */
.site-header {
  height: 100vh;
}

.site-header__headline {
  margin-top: var(--space-6);
}

.site-header__subline {
  margin-top: var(--space-3);
  font-size: var(--font-size-2);
}

.navigation-social {
  margin-top: var(--space-3);
  display: flex;
}

.navigation-social__item {
  padding: var(--space-1);
  padding-left: 0;
}

.site-footer {
}

/* --------------------
// Utilities and helpers
// ------------------ */

.h-hide {
  display: none !important;
}
.h-hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.h-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
