/* ----------
// Settings
// ---------- */

:root {
  --font-size-base: 16px;
  --font-size-0: .8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.4rem;
  --t-bold: 700;
  --t-regular: 400;

  --space-1: 1em;
  --space-2: 2.5em;
  --space-3: 3.5em;
  --space-4: 5em;

  --back: #2B2E4A;
  --front: #fff;
  --feature: #E84545;
}

@media only screen and (min-width: 320px) {
  :root {
      /*--front: pink;*/
    --font-size-base: calc(16px + 10 * ((100vw - 320px) / 680));
  }
}

/*@media only screen and (min-width: 600px) {
  :root {
    --space-3: 4em;
    --space-4: 7em;
  }
}*/

@media only screen and (min-width: 900px) {
  :root {
    --font-size-base: 26px;
  }
}

/* ----------
// Normalize / Reset
// ---------- */
*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* ----------
// General
// ----------*/

html {
  min-height: 100%;
  font-size: var(--font-size-base);
}

body {
  margin: 5vw;
  line-height: 1.6;
  /*font-family: "Roboto Mono", Menlo, monospace;*/
  /*font-family: 'Ubuntu', arial;*/
  /*font-family: 'Noto Serif', serif;*/
  font-family: 'Bitter', serif;
  color: var(--front);
  background-color: var(--back);
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: var(--space-1);
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* ----------
//  Elements
// ---------- */

h1,
h2,
h3 {
  /*font-family: helvetica, arial, sans-serif;*/
}

h1 {
  font-size: var(--font-size-2);
}

h2 {
  font-size: var(--font-size-1);
}

h3 {
  font-size: var(--font-size-1);
}

p {
  max-width: 40em;
}

a {
  background-color: transparent;
  color: var(--front);
}

small {
  font-size: 80%;
}

/* ----------
// Objects
// ---------- */

.o-container {
  max-width: 1400px;
  padding: var(--space-2);
  padding-top: 0;
}

.o-container--centered {
  margin: 0 auto;
}

.o-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.o-section {
  margin-top: var(--space-3);
}

.o-section__title {
  /*font-size: var(--font-size-0);*/
  /*text-transform: uppercase;*/
  color: var(--feature);
  font-weight: 700;
  font-weight: var(--t-bold);
}

.o-section__subtitle {
  margin-top: var(--space-2);
}

@media only screen and (min-width: 600px) {
  .o-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--space-1);
    /*max-width: 800px;*/
  }
}

/* -----------
// Components
// ---------- */
.site-header {
  padding: var(--space-2) 0;
  box-sizing: border-box;
}

.site-header__brand {
  font-size: var(--font-size-2);
}

.site-header__headline {
  margin-top: 0;
  font-size: var(--font-size-2);
  font-weight: var(--t-bold);
  color: var(--feature);
}

.site-header__subline {
  margin-top: var(--space-0);
  font-size: var(--font-size-1);
}

.navigation-social {
  margin-top: var(--space-4);
  display: flex;
  flex-wrap: wrap;
}

.navigation-social__item {
  padding-right: var(--space-1);
}

.card {
  margin-top: var(--space-2);
}

.card__period {
  margin-top: 0;
}

.card__description {
  margin-top: var(--space-1);
}

.list-languages {
  margin: var(--space-1) 0;
}

.site-footer {
}

/* --------------------
// Utilities and helpers
// ------------------ */

.h-hide {
  display: none !important;
}
.h-hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.h-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
